.category_row {
    width: 88%;
    margin: auto;
    margin-top: 2%;
    .category_row_button {
        width: 90%;
        font-size: 15px;
        margin: 10px 10px;
        text-align: center;
    }
}