    .form_content {
        width: 80%;
        margin: auto;
        background-color: #fff;
        box-shadow: 0 0 3px 4px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1) !important;
        border: 1px solid;
        padding: 0 5%;
        height: auto;
        text-align: center;
        margin-bottom: 5%;
        .fiel {
            width: 60%;
            height: 45px;
            animation-name: han;
            transition: 0.5s linear;
            font-weight: bold;
            font-size: 18px;
            padding-left: 5%;
            padding-top: 10px;
            margin: 20px 0;
            outline: none;
            &:focus {
                height: 50px;
                padding-bottom: 20px;
                font-weight: normal;
            }
        }
    }
    
    @media screen and (max-width:400px) {
        .form_content {
            width: 90%;
            font-size: 12 spx;
            .fiel {
                width: 100%;
            }
        }
    }